---
import Default from '../layouts/Default.astro';

const COMPONENTS = [
  ["CodeButton", "codebutton"],
]
---

<Default title="rzkyif / components">
	<div class="
		flex flex-col flex-1 items-center justify-center p-8
		 bg-[var(--bg-light-4)]
		 dark:bg-[var(--bg-dark-6)]
	">
		<div class="flex flex-wrap justify-center">
      {
        COMPONENTS.map(([componentName, componentLink]) => (
          <a
            class = "text-4xl py-4 px-8 my-2 mx-2 font-bold hover:outline text-neutral-900 bg-neutral-300 dark:text-neutral-200 dark:bg-neutral-700 rounded-xl"
            href = {`/components/${componentLink}`}
          >
            {componentName}
          </a>
        ))
      }
    </div>
	</div>
</Default>
