/* -------------------------------------------------------------------------- */
/*                               details element                              */
/* -------------------------------------------------------------------------- */

.codeButton {
  list-style: none;
  width: min-content;
  overflow: visible;
}

/* ------------------------------ overall theme ----------------------------- */

.codeButton {
  --text: #24292f;
  --text-dim: #57606a;
  --text-active: #000000;
  --text-link: #4598db;
  --border: #d0d7de;
  --bg: #ffffff;
  --green: #238636;
  --green-hover: #2ea643;
  --green-active: #5bd171;
  --orange: rgb(249 115 22);
}

:global .dark :local .codeButton {
  --text: #a6acb3;
  --text-dim: #8b949e;
  --text-active: #ffffff;
  --text-link: #4598db;
  --border: #30363d;
  --bg: #161b22;
}

.codeButton > .codeButtonSummary::marker {
  display: none;
}

/* -------------------------------------------------------------------------- */
/*                               summary element                              */
/* -------------------------------------------------------------------------- */

.codeButtonSummary {
  @apply 
    flex items-center 
    px-2 py-1 rounded-md gap-1 h-8
    border-[var(--border)] border
    text-white bg-[var(--green)] font-semibold select-none text-sm
    hover:bg-[var(--green-hover)]
    active:bg-[var(--green-active)]
}

.codeButton[open] > .codeButtonSummary::before {
  @apply 
    block content-[""]
    inset-0
    fixed
}

/* -------------------------------------------------------------------------- */
/*                                    panel                                   */
/* -------------------------------------------------------------------------- */

/* -------------------------------- container ------------------------------- */

.codeButtonPanelContainer {
  @apply
    relative block
}

/* ------------------------------- tab picker ------------------------------- */

.codeButtonPanelTabPicker {
  @apply
    flex border-[var(--border)] text-sm
}

.codeButtonPanelTabPicker > button {
  @apply
    flex-1 py-2 px-4 rounded-md m-[-1px] rounded-b-none
    text-[var(--text-dim)] hover:text-[var(--text)] border 
    border-b-[var(--border)] border-transparent
}

.codeButtonPanelTabPicker > button[current] {
  @apply
  text-[var(--text)]
  border-[var(--border)] border-b-transparent  
}

/* ---------------------------------- panel --------------------------------- */

.codeButtonPanelContainer > div {
  @apply
    absolute flex flex-col rounded-md
    top-2 right-0
    w-[400px] bg-[var(--bg)] text-sm text-[var(--text)] border-[var(--border)] border
}

.codeButtonPanelContainer > div::after {
  @apply
    absolute right-2 
    block content-[""] 
    w-0 h-0 border-[8px] border-transparent border-b-[var(--bg)] -top-4
}

/* -------------------------------- panel row ------------------------------- */

.codeButtonPanelContainer > div > ul > li {
  @apply
    p-4 flex flex-col border-b border-[var(--border)] mb-[-1px]
}
.codeButtonPanelContainer > div > ul > li:last-child {
  @apply
    border-none
}

/* -------------------------------------------------------------------------- */
/*                                    other                                   */
/* -------------------------------------------------------------------------- */

/* -------------------------------- help mark ------------------------------- */

.helpMark {
  @apply
    flex rounded-full relative box-border
    outline outline-2 
    ml-auto 
    text-[0.7rem] font-bold
    justify-center items-center w-4 h-4
    hover:text-[var(--text-link)]
}
.helpMark > span {
  display: none;
}
.helpMark:hover > span {
  @apply
    flex absolute top-full right-0 mt-2 p-2 rounded-md rounded-tr-none
    text-[var(--text)] whitespace-nowrap 
    bg-neutral-600
}

/* --------------------------------- buttons -------------------------------- */

.button {
  @apply
    hover:bg-neutral-500/25 active:bg-neutral-300/25 hover:text-[var(--text-active)] rounded-md
}

.singleLetterButton {
  composes: button;
  @apply
    flex w-8 h-8 mx-1 justify-center items-center font-bold text-base
}

/* ----------------------------- tab navigation ----------------------------- */

.tabNavigationButton {
  composes: button;
  @apply
    relative py-1 px-2 mt-2 mb-2
    after:absolute after:w-full after:content-[""] after:left-0 after:-bottom-1 after:block 
    after:border-transparent after:border after:rounded-full
}
.tabNavigationButton[current] {
  @apply
    after:border-[var(--orange)]
}

/* ------------------------------- copy field ------------------------------- */

.copyField {
  @apply
    flex w-full items-center my-2 relative
}
.copyField > input {
  @apply
    flex-1 py-1 px-2 text-xs font-mono
    border border-[var(--border)] 
    bg-transparent rounded-l-md 
    outline-none

}
.copyField > button {
  @apply
    flex h-full
    border border-l-0 border-[var(--border)] rounded-r-md py-1 px-2
    hover:bg-neutral-500/25 active:bg-neutral-300/25
}

/* ------------------------------ basic layout ------------------------------ */

.row {
  @apply
    flex items-center gap-2
}

.leftColumn {
  @apply
    flex flex-col gap-2
}

.centerColumn {
  composes: leftColumn;
  @apply
    items-center gap-4
}

.rightAlign {
  @apply
    flex ml-auto
}

/* ---------------------------- basic formatting ---------------------------- */

.smallDimText {
  @apply
    text-xs text-[var(--text-dim)] text-center
}

.boldText {
  @apply
    text-base font-bold
}

.linkText {
  @apply
    text-xs text-[var(--text-link)] hover:underline
}