---
import Header from '../components/internal/Header';

export interface Props {
	title: string;
	description?: string;
}

const { title, description = "This page has no description." } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="
font-sans dark
">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
		<script>
			if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
				document.documentElement.classList.add('dark')
			} else {
				document.documentElement.classList.remove('dark')
			}
		</script>
	</head>
	<body class="
		flex flex-col items-center h-screen max-h-screen overflow-x-hidden overflow-y-scroll
		text-[var(--text)] bg-[var(--bg-5)]
	">
		<Header client:load/>
		<div class="flex flex-col flex-1 w-screen max-w-5xl bg-[var(--bg-4)]">
			<slot />
		</div>
	</body>
</html>

<style is:global>
	:root {
		--text: #0f0f0f;
		--text-inverse: #f0f0f0;
		--bg-4: #cecece;
		--bg-5: #e8e8e8;
		--bg-6: #f6f6f6;
		--accent-4: #101010;
		--accent-5: #181818;
		--accent-6: #202020;
	}
	.dark * {
		--text: #f0f0f0;
		--text-inverse: #0f0f0f;
		--bg-4: #101010;
		--bg-5: #181818;
		--bg-6: #202020;
		--accent-4: #e0e0e0;
		--accent-5: #e8e8e8;
		--accent-6: #eeeeee;
	}
</style>