---
import Header from '../components/internal/Header';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="
font-sans dark
">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script>
			if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
				document.documentElement.classList.add('dark')
			} else {
				document.documentElement.classList.remove('dark')
			}
		</script>
	</head>
	<body class="
		flex flex-col items-center h-screen max-h-screen overflow-x-hidden overflow-y-scroll
		text-[var(--text-light)] bg-[var(--bg-light-5)]
		dark:text-[var(--text-dark)] dark:bg-[var(--bg-dark-5)]
	">
		<Header client:load/>
		<div class="flex flex-col flex-1 w-screen max-w-5xl bg-[var(--bg-light-4)] dark:bg-[var(--bg-dark-4)]">
			<slot />
		</div>
	</body>
</html>

<style is:global>
	:root {
		--text-light: #0f0f0f;
		--text-dark: #f0f0f0;
		--bg-light-4: #f0f0f0;
		--bg-light-5: #f8f8f8;
		--bg-light-6: #ffffff;
		--bg-dark-4: #000000;
		--bg-dark-5: #080808;
		--bg-dark-6: #0f0f0f;
		--accent-dark-4: #f0f0f0;
		--accent-dark-5: #f8f8f8;
		--accent-dark-6: #ffffff;
		--accent-light-4: #000000;
		--accent-light-5: #080808;
		--accent-light-6: #0f0f0f;
	}
</style>