---
import Default from './Default.astro';
import Icon from 'astro-icon'

export interface Props {
	name: string
	description: string
	valign?: string
	halign?: string
}

const { name, description, valign = "top", halign = "center" } = Astro.props
---

<Default title={`${name}`}>
	<div class="
		flex flex-col p-8
		text-[var(--text-dark)] bg-[var(--accent-light-6)]
		dark:text-[var(--text-light)] dark:bg-[var(--accent-dark-4)]
	">
		<div class="flex items-center mb-4 mt-6">
			<h1 class="font-extrabold text-4xl">{name}</h1>
			<a 
				href={`https://github.com/rzkyif/components/tree/master/src/components/${name}.jsx`}
				target="_blank"
				class="ml-auto underline text-sm"
			><Icon pack="mdi" name="link-variant" class="h-8"/></a>
		</div>
		<h2 class="mt-2">{description}</h2>
	</div>
	<main class={`relative flex flex-col w-full p-8 flex-1 ${valign=='top'?'vtop':''} ${valign=='center'?'vcenter':''} ${valign=='bottom'?'vbottom':''} ${halign=='left'?'hleft':''} ${halign=='center'?'hcenter':''} ${halign=='right'?'hright':''}`}>
		<slot />
	</main>
</Default>

<style>
	.hleft {
		@apply items-start;
	}
	.hcenter {
		@apply items-center;
	}
	.hright {
		@apply items-end;
	}
	.vtop {
		@apply justify-start;
	}
	.vcenter {
		@apply justify-center;
	}
	.vbottom {
		@apply justify-end;
	}
</style>
